.curvediv {
	position: relative;
	background: #E40A2D;
	color: #FFF;
	text-align: center;
	overflow: hidden;
}
.curvediv svg {
	display: block;
}

.curvediv.upper {
	background: #fff;
}

.curvediv h1 {
	font-size: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top:0rem;
}

.curvediv p svg{
	transform: rotate(180deg);
}

.padding {
	margin-top: 50px;
}